/* paleta de cores
#AF33BD
#82418A
#D911F0
#543A57
#322C33
*/


body{
    font-family: Roboto, sans-serif;
}

.navbar{
    background-color: #AF33BD;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #543A57;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}

.navbar-toggler{
    background-color: #ffeae6;
}

#carousel{
    background-image: linear-gradient(to bottom, #322C33, #82418A, #322C33);
    padding-bottom: 5vh;
}

div>img.imagem-carousel{
    border: 8px solid #322C33;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.section-title{
    font-family: Pacifico, cursive;
    color: #543A57;
}

.section-title span{
    color: #82418A;
}

#sobre-o-restaurante, #cardapio{
    background-color: #D9BBF0;
}

.text-colored, span{
    color: #543A57;
}

.nav-cardapio .nav-link.active, #fale-conosco button{
    background-color: #543A57;
    color: #fff;
}

.nav-cardapio .nav-link:hover{
    color: #82418A;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
}

p{
    text-align: justify;
    text-indent: 15px;
}

A{
    color: #82418A;
    font-weight: bold;
    text-decoration: none;
}

A:hover{
    text-decoration: underline;
}

.tab-pane{
    background-color: #d9bbf099;
    border-radius: 5px;
}

@media screen and (max-width: 767px) {
    .carousel-item img{
        height: 280px;
    }

    div.tab-pane{
        padding: 4vw;
    }

}